:root{

  --c_0:hsl(0 0% 98%);
  --c_1:hsl(0 0% 90%);
  --c_2:hsl(0 0% 60%);
  --c_3:hsl(0 0% 100%);
  --c_red:hsl(0 100% 60%);
  --c_yellow:hsl(50 100% 50%);

  --c_f:hsl(0 0% 12%);
  --c_p:hsl(0 0% 92%);
  --c_s:hsl(280 100% 50%);

}